header{
    background-color: rgb(200, 224, 216);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 a{
    text-decoration: none;
 }
 
 header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
 }

 header ul li{
    margin: 10px;
 }
 img{ 
    width: 310px;
 }

h1{ 
    font-size: 30px;
    color: rgb(155, 113, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{ 
    font-size: 20px;
    color: rgb(131, 116, 116);
}

.enunciado{
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.enunciado h1{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel img{
    width: 1920px;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}


.principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 20px 0;
    height: 70%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.principal h1{
    justify-content: center;
}
p{
   width: 50%;
   margin: 10px o 10px 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.contenedor{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px o 10px 0;
    background-color: aliceblue;
 }

 .caja{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
 }

 .caja h1{
    justify-content: center;
    align-items: center;
 }
 .caja img{
    height: 150px;
    width: 60%;
 }

 .caja p{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
 }

.caja1 img{
    width: auto;
    height: 100%;
}


.caja2 img{
width: auto;
height: 100%;
}


 #enlaces{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px o 10px 0;
 }

#enlaces iframe{
    padding: 10px;
    margin: 10px;
}
.final{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.final p{
    width: 100%;
    margin-left: 0%;
    margin-right: auto;
    font-size: 16px;
    text-align: right;
}